<head>
    <!doctype html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- https://flask-assets.readthedocs.io/en/latest/#using-the-bundles -->
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

    {% for message in get_flashed_messages(category_filter=["error"]) %}
    <div class="alert">{{ message }}</div>
    {% endfor %}

    <title>NLP Emoji</title>
    {% set navigation_bar = [
    ('/', 'index', 'Home'),
    ('/about', 'about', 'About')
    ] -%}

    {% set active_page = active_page|default('index') -%}

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">NLP Emoji</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for href, id, caption in navigation_bar %}
                <li {% if id==active_page %} class="nav-item active" {% else %} class="nav-item" {% endif %}><a
                        class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</head>

{% block body %}
{% endblock %}