{% extends "base.html" %}
{% set active_page = "index" %}

{% block body %}
<div class="container mt-5">
    <h1>{% block title %} Search for an emoji {% endblock %}</h1>
    <form method="post">
        <label for="title">Description</label>
        <br>
        <input type="text" class="form-control" name="description" placeholder="Emoji description"
            value="{{ request.form['description'] }}"></input>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% for message in get_flashed_messages(category_filter=["emojis"]) %}
    <h2>Top matches</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Description</th>
                <th scope="col">Emoji</th>
            </tr>
        </thead>
        <tbody>
            {% for item in message %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td> {{ item.0 }} </td>
                <td> {{ item.1 }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
{% endblock %}